.about-profile{margin-left: 500px;}
.about-profile .pro-title{font-weight:700;color:#040404;position:relative;width:120px;display:inline-block;margin-bottom:5px}
.about-profile .pro-title:after{position:absolute;content:':';color:#040404;font-size:14px;left:77px}
.about-profile .admin-sign{position:absolute;right:45px;bottom:10px}
.about-profile .admin-profile{
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center;  
}
